@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p> The final project for CS 341, Fall 2018.
    <br/>
    Implemented with SQL, C#, a little bit of JavaScript, and Asp.Net Core MVC to scheme the project. 
    <br/>
    I really liked this project, since it's relative in the real world.
    <br/>
    I was planning on spending more time on the optional portion, but finals are right around the corner.
    <br/>
    I'll definetly use what I learned here to build some interesting personal projects during break.</p>
