@page
@model ContactModel
@{
    ViewData["Title"] = "How to get in touch with me!";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    1420 North Lake Shore Drive<br />
    Chicago, IL 60610<br />
    <abbr title="Phone">P: (312) 951-0229</abbr>
</address>

<address>
    <strong>Personal Email:</strong> <a href="mailto:rami.mas56@gmail.com">rami.mas56@gmail.com</a><br />
    <strong>University Email:</strong> <a href="mailto:rmasou2@uic.edu">rmasou2@uic.edu</a>
</address>
