@page
@model TopCrimesAreaModel
@{
  ViewData["Title"] = "Get User Input";
}

<div class="container">  
    <h2>Please enter in an area.</h2>  
    <hr />  
    <br />  
		<form action="Top10ByArea" method="get">
				
        <div class="row">  
            <div class="col-md-4">  
                <label asp-for="Input">Enter an area id or area name:</label>  
                <input asp-for="Input" class="form-control" />  
            </div>  
        </div>   
				
        <br />  
        <input type="submit" value="Lookup" class="btn btn-primary" />  
        <a class="btn btn-default" href="/">Cancel</a>  
				
    </form>
</div>

